<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.siqisource.stone.sdk.project.mapper.ProjectMapper">

<insert id="insert" parameterType="org.siqisource.stone.sdk.project.model.Project" useGeneratedKeys="true" keyProperty="id">
INSERT INTO project (

	name ,

	project_path ,

	package_name ,
	
	db_type,

	db_driver ,

	db_url ,

	db_user ,

	db_password ,

	remark 

) VALUES (

	#{name ,jdbcType=VARCHAR} ,

	#{projectPath ,jdbcType=VARCHAR} ,

	#{packageName ,jdbcType=VARCHAR} ,
	
	#{dbType ,jdbcType=VARCHAR} ,

	#{dbDriver ,jdbcType=VARCHAR} ,

	#{dbUrl ,jdbcType=VARCHAR} ,

	#{dbUser ,jdbcType=VARCHAR} ,

	#{dbPassword ,jdbcType=VARCHAR} ,

	#{remark ,jdbcType=VARCHAR} 

)
</insert>
	
<insert id="insertBatch" parameterType="java.util.List" >
INSERT INTO project  (

	name ,

	project_path ,

	package_name ,
	
	db_type,

	db_driver ,

	db_url ,

	db_user ,

	db_password ,

	remark 

)VALUES
<foreach collection="list" item="item" index="index" separator="," > 
(

#{name ,jdbcType=VARCHAR} ,

#{projectPath ,jdbcType=VARCHAR} ,

#{packageName ,jdbcType=VARCHAR} ,

#{dbType ,jdbcType=VARCHAR} ,

#{dbDriver ,jdbcType=VARCHAR} ,

#{dbUrl ,jdbcType=VARCHAR} ,

#{dbUser ,jdbcType=VARCHAR} ,

#{dbPassword ,jdbcType=VARCHAR} ,

#{remark ,jdbcType=VARCHAR} 

)
</foreach>

</insert>

<insert id="insertPartitive" parameterType="map">
	INSERT INTO project  
		(${fields._insertFields}) 
	VALUES 
		(${fields._insertValues})
</insert>
	        
<select id="read" parameterType="map" resultType="org.siqisource.stone.sdk.project.model.Project">
	SELECT * FROM project 	 
	WHERE
	
	id = #{id[0]} 
			
</select>
	  
<select id="count" parameterType="map" resultType="int">
	SELECT count(1) FROM project 
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
</select>
	  
<select id="list" parameterType="map" resultType="org.siqisource.stone.sdk.project.model.Project">
	SELECT * FROM  project  
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
	<if test="condition.orderBy != null">
		${condition.orderBy}
	</if>  
</select>
	  
<update id="update" parameterType="org.siqisource.stone.sdk.project.model.Project">
	UPDATE project SET 
	
	name = #{name ,jdbcType=VARCHAR}  , 
	
	project_path = #{projectPath ,jdbcType=VARCHAR}  , 
	
	package_name = #{packageName ,jdbcType=VARCHAR}  , 
	
	db_type = #{dbType ,jdbcType=VARCHAR}  , 
	
	db_driver = #{dbDriver ,jdbcType=VARCHAR}  , 
	
	db_url = #{dbUrl ,jdbcType=VARCHAR}  , 
	
	db_user = #{dbUser ,jdbcType=VARCHAR}  , 
	
	db_password = #{dbPassword ,jdbcType=VARCHAR}  , 
	
	remark = #{remark ,jdbcType=VARCHAR} 
	
	WHERE 
	
	id = #{id ,jdbcType=NUMERIC} 
					
</update>
	
<update id="updatePartitive" parameterType="map" >
	UPDATE project 
	SET ${fields._updateSql}
	WHERE 
	
	id = #{id[0]} 
				
</update>
	  
<update id="updateBatch" parameterType="map" >
	UPDATE project  
	SET  ${fields._updateSql}
	<if test="condition.expressions != null ">
		<where> ${condition.comboedExpressions} </where>
	</if>		
</update>
		  
<delete id="delete" parameterType="map" >
	DELETE FROM project   
	WHERE 
	
	id = #{id[0]} 
	
</delete>
	
<delete id="deleteBatch" parameterType="map" >
	DELETE FROM project 
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
</delete>

</mapper>