<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<mappers>
		<mapper resource="mappers/ConfigMapper.xml"/>
		<mapper resource="mappers/GroupMapper.xml"/>
		<mapper resource="mappers/GroupUserMapper.xml"/>
		<mapper resource="mappers/UserMapper.xml"/>
		<mapper resource="mappers/DictMapper.xml"/>
		<mapper resource="mappers/DictItemMapper.xml"/>
		<mapper resource="mappers/RoleMapper.xml"/>
		<mapper resource="mappers/RoleOperationMapper.xml"/>
		<mapper resource="mappers/RoleUserMapper.xml"/>
		<mapper resource="org/siqisource/stone/user/mapper/GroupUserMapper.xml"/>
		<mapper resource="org/siqisource/stone/role/mapper/RoleUserMapper.xml"/>
	</mappers>
</configuration>
