<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-3.1.xsd"
	default-lazy-init="true">

	<description>Shiro Security Config</description>

	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login/Login.jsp" />
		<property name="successUrl" value="/index.jsp" />
		<property name="filterChainDefinitions">
			<value>
				/=anon
				/favicon.ico=anon
				/logout/logout=logout
				/include/**=anon
				/install/**=anon
				/** = authc
			</value>
		</property>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="jdbcRealm" />
			</list>
		</property>
		<property name="sessionManager" ref="sessionManager" />
	</bean>

	<bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
		<property name="dataSource" ref="innerDataSource" />
		<property name="permissionsLookupEnabled" value="true" />
		<property name="authenticationQuery"
			value="select password from st_user where account = ? and enabled = true " />
		<property name="userRolesQuery"
			value="select role_id from st_role_user r ,st_user u   where r.user_id = u.id and u.account = ? " />
		<property name="permissionsQuery"
			value="select e.code||':'||o.code from st_role_operation ro ,st_entity e ,st_operation o where o.entity_id = e.id and ro.operation_id = o.id and ''||ro.role_id = ? " />
	</bean>

	<bean id="sessionManager"
		class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="globalSessionTimeout" value="${security.globalSessionTimeout}" />
		<property name="sessionDAO" ref="sessionDAO" />
	</bean>

	<bean id="sessionDAO"
		class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>